[Unit]
Description=Fortune cookies with socket.io and kafka.

[Service]
EnvironmentFile=/etc/environment

# Prevents timeouts, e.g. while building a docker image from github.
TimeoutStartSec=0

## Directives with "=-" are allowed to fail without consequence.
ExecStartPre=-/usr/bin/docker kill socketio-kafka
ExecStartPre=-/usr/bin/docker rm socketio-kafka

# Build image if theres none.
# Building from github requires github.com/your/project-name.git

ExecStartPre=/bin/sh -c "/usr/bin/docker images | grep socketio-kafka || /usr/bin/docker build -t socketio-kafka github.com/mfaulk/socketio-kafka.git"

# Default ZooKeeper client port: 2181
# Default Kafka server port: 9092

ExecStart=/usr/bin/sh -c '/usr/bin/docker run --rm --name socketio-kafka \
	-p 3000:3000 \
	-e ZOOKEEPER_SERVER=$(/usr/bin/etcdctl get /services/zookeeper):2181 \
	socketio-kafka'

ExecStop=/usr/bin/docker stop socketio-kafka